//mixins
@mixin bordBox {
    width: $widPerc;
    border: solid $boundColor $tenDim;
    padding: $mainSpace + 1;
}

@mixin Thead {
    background-color: $blueColor;
    border: $tenDim solid $orangeColor;
}

@mixin Font($Fontfam, $FontStyle, $FontWeight, $FontSize, $lineHigh) {
    font-family: $Fontfam;
    font-style: $FontStyle;
    font-weight: $FontWeight;
    font-size: $FontSize;
    line-height: $lineHigh;
}

@mixin Spacing($Margin, $Gap, $Width, $Height) {
    margin: $Margin;
    gap: $Gap;
    width: $Width;
    height: $Height;
}