@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
:root {
  --dispFlex: flex;
  --dispBlock: block;
  --dispGrid: grid;
  --Rowflex: row;
  --ColFlex: column;
  --stretch: stretch;
  --startJust: flex-start;
  --centJust: center;
  --spaceJust: space-between;
  --aroundJust: space-around;
  --endJust: flex-end;
}

body {
  background-color: white;
  font-family: "Lato";
  box-sizing: content-box;
  width: 100%;
  border: solid #5B6DCD 10px;
  padding: 5px;
}

header {
  background-color: #082B59;
  border: 10px solid #D98555;
  border-style: none none solid none;
  border-style: none none solid none;
}

.logo {
  display: var(--dispBlock);
  margin: 0 auto;
  width: 194px;
}

.menu ul {
  display: var(--dispFlex);
  flex-direction: column;
  align-items: var(--centJust);
  row-gap: 26px;
  list-style-type: none;
}

.menu ul a {
  color: #f2f2f2;
  text-decoration: none;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 58px;
}

.menu ul a:hover {
  color: #D98555;
}

nav li {
  font-size: 18px;
  padding-bottom: 36px;
}

article {
  margin: 24px;
}

h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 80px;
  margin-top: 12px;
}

h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 19.2px;
  line-height: 38px;
  margin: 24px;
}

article p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 19.2px;
  line-height: 38px;
  margin: 24px;
}

article img {
  display: var(--dispFlex);
  flex-direction: var(--ColFlex);
  align-items: var(--startJust);
  align-self: var(--stretch);
  padding: 0;
  border-radius: 10px;
  margin: 24px;
  gap: 10px;
  width: 279px;
  height: 200px;
}

footer {
  background-color: #082B59;
  display: var(--dispFlex);
  flex-direction: var(--ColFlex);
  padding: 0;
  gap: 10px;
}

.p1 {
  color: #f2f2f2;
  text-align: var(--centJust);
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 19.2px;
  line-height: 38px;
  margin: 5px;
}

.p2 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 38px;
  text-align: var(--centJust);
  color: white;
  margin: 5px;
}

footer nav ul {
  display: var(--dispFlex);
  flex-direction: var(--Rowflex);
  justify-content: var(--centJust);
  list-style-type: none;
  padding: 16px;
}

footer nav ul a {
  color: #f2f2f2;
  text-decoration: none;
}

footer nav li {
  color: #f2f2f2;
  margin: 16px;
}

a:hover {
  color: #D98555;
}

@media (min-width: 834px) {
  .logo {
    width: 200px;
  }

  .menu ul {
    flex-direction: var(--Rowflex);
    justify-content: var(--centJust);
  }

  nav li {
    margin: 20px;
    padding-bottom: 0;
  }

  article img {
    width: 303px;
    height: 200px;
  }

  .content {
    display: var(--dispGrid);
    grid-template-columns: 303px 419px;
    grid-template-rows: repeat(3 mainDim103);
    gap: 50px;
  }
}
@media (min-width: 1280px) {
  .logo {
    width: 232px;
    margin: 16px;
  }

  header {
    display: var(--dispFlex);
    flex-direction: var(--Rowflex);
    justify-content: var(--spaceJust);
  }

  .menu ul {
    margin: 91px 16px 0 16px;
    justify-content: var(--endJust);
  }

  nav li {
    margin: 36px;
    padding-bottom: 0;
  }

  article img {
    width: 384px;
    height: 245px;
  }

  h2 {
    font-weight: 700;
    font-size: 26.4px;
  }

  .content {
    grid-template-columns: 384px 384px 384px;
    grid-template-rows: 245px 245px;
    row-gap: 50px;
    justify-content: var(--centJust);
  }
}/*# sourceMappingURL=Pstyle.css.map */