@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
:root {
  --dispFlex: flex;
  --dispBlock: block;
  --Rowflex: row;
  --ColFlex: column;
  --stretch: stretch;
  --startJust: flex-start;
  --centJust: center;
  --spaceJust: space-between;
  --endJust: flex-end;
}

body {
  background-color: white;
  font-family: "Lato";
  box-sizing: content-box;
  width: 100%;
  border: solid #5B6DCD 10px;
  padding: 5px;
}

header {
  background-color: #082B59;
  border: 10px solid #D98555;
  border-style: none none solid none;
}
header .logo {
  display: var(--dispBlock);
  margin: 0 auto;
  width: 194px;
}
header ul {
  display: var(--dispFlex);
  flex-direction: column;
  align-items: var(--centJust);
  row-gap: 26px;
  list-style-type: none;
}
header ul li {
  font-size: 18px;
  padding-bottom: 36px;
}
header ul li a {
  color: #f2f2f2;
  text-decoration: none;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 58px;
}
header ul li a:hover {
  color: #D98555;
}

article {
  margin: 24px;
}
article h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 80px;
}
article p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 19.2px;
  line-height: 38px;
}
article .SFO {
  color: #59331D;
}
article .SFO:hover {
  color: #D98555;
}
article .button {
  background-color: #59331D;
  display: var(--dispFlex);
  flex-direction: var(--Rowflex);
  justify-content: var(--centJust);
  align-items: var(--centJust);
  padding: 8px, 16px;
  gap: 10px;
  width: 126px;
  height: 55px;
  border-radius: 7px;
}
article .button a {
  color: #f2f2f2;
  text-decoration: none;
  font-weight: 400;
  font-size: 19.2px;
}
article .button a:hover {
  color: #D98555;
}

picture .image {
  display: var(--dispFlex);
  flex-direction: var(--ColFlex);
  margin: 24px;
  align-items: var(--startJust);
  align-self: var(--stretch);
  padding: 0;
  gap: 10px;
  width: 327px;
  height: 200px;
  border-radius: 10px;
}

footer {
  background-color: #082B59;
  display: var(--dispFlex);
  flex-direction: var(--ColFlex);
  padding: 0;
  gap: 10px;
}
footer .p1 {
  color: #f2f2f2;
  text-align: var(--centJust);
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 19.2px;
  line-height: 38px;
  margin: 5px;
}
footer .p2 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 38px;
  text-align: var(--centJust);
  color: white;
  margin: 5px;
}
footer nav ul {
  display: var(--dispFlex);
  flex-direction: var(--Rowflex);
  justify-content: var(--centJust);
  list-style-type: none;
  padding: 16px;
}
footer nav ul li {
  color: #f2f2f2;
  margin: 16px;
}
footer nav ul li a {
  color: #f2f2f2;
  text-decoration: none;
}
footer nav ul li a:hover {
  color: #D98555;
}

@media (min-width: 834px) {
  .logo {
    width: 200px;
  }

  .menu ul {
    flex-direction: var(--Rowflex);
    justify-content: var(--centJust);
  }

  nav li {
    margin: 20px;
    padding-bottom: 0;
  }

  section {
    margin: 32px;
    display: var(--dispFlex);
    flex-direction: var(--Rowflex);
    justify-content: var(--centJust);
  }

  article {
    margin: 10px;
  }

  picture .image {
    margin-top: 151.5px;
    gap: 10px;
    border-radius: 10px;
    width: 269px;
    height: 436px;
  }
}
@media (min-width: 1280px) {
  .logo {
    width: 232px;
    margin: 16px;
  }

  header {
    display: var(--dispFlex);
    flex-direction: var(--Rowflex);
    justify-content: var(--spaceJust);
  }

  .menu ul {
    margin: 91px 16px 0 16px;
    justify-content: var(--endJust);
  }

  nav li {
    margin: 36px;
    padding-bottom: 0;
  }

  picture .image {
    margin: 139.4px 77.76px 139.4px 0px;
    width: 500px;
    height: 358px;
  }
}/*# sourceMappingURL=Style.css.map */